<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node JS APP</title>
    <link rel="stylesheet" href="./css/style.css">
   <!-- в index.js прописан путь к статике public поэтому за корень для css считаем его -->
</head>
<body>
    <div class="app">
        <div class="app__header">
            <h1>Title</h1>
            <p class="error">Some error</p>
        </div>
        <form action="" class="app__content">
            <div class="input">
                <label for="city">Your city</label>
                <input type="text" name="city" id="city" placeholder="Name City">
                <input type="submit" class="btn" value="Get weather">
            </div>
        </form>
    </div>
</body>
</html>